ConsultaPedido/src/wsdl/localhost_8080/vitrine-services/OrderWSDLService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://impl.wsdl.services.vitrine.fdxtecnologia.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://impl.wsdl.services.vitrine.fdxtecnologia.com.br/">

<xs:element name="getNonProcessedOrders" type="tns:getNonProcessedOrders"/>

<xs:element name="getNonProcessedOrdersResponse" type="tns:getNonProcessedOrdersResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="getNonProcessedOrders">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNonProcessedOrdersResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="order">
<xs:sequence>
<xs:element name="cartInfo" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="payment" type="tns:payment" minOccurs="0"/>
<xs:element name="products" type="tns:productJSON" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="shippingAddress" type="tns:address" minOccurs="0"/>
<xs:element name="shippingPrice" type="xs:decimal" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="addresses" type="tns:address" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="cpf" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="complement" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="neighborhood" type="xs:string" minOccurs="0"/>
<xs:element name="stateCity" type="xs:string" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
<xs:element name="zipcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="enable" type="xs:boolean"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastAccess" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userRole" type="tns:role" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="productJSON">
<xs:sequence>
<xs:element name="idProduct" type="xs:long" minOccurs="0"/>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="sku" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="role">
<xs:restriction base="xs:string">
<xs:enumeration value="USER"/>
<xs:enumeration value="ADMIN"/>
<xs:enumeration value="CUST"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>